$first-color: #3F356d;
$second-color:#37304F;
$third-color: #B4B2B8;
$fourth-color: #E6E5E8;
$hover-link: #40A4C8;
$fifth-color: #EAE9EE;
$text-color: #333333;
$sixth-color: #A5A3AA;
$seventh-color: #DDDDDD;
$backdrop: rgba(0, 0, 0, 0.5);
$disabled-button: #ccc;
$danger-button: #944317;
$facebook-color: #4c69ba;
$dropzone-first-color: #eeeeee;
$dropzone-second-color: #fafafa;
$dropzone-third-color: #bdbdbd;
$border-invalid: #FDA49A;
$eigth-color: #96959B;
$nineth-color: #eee;
$tenth-color: #555559;
$eleventh-color: #808080